﻿@model ControlAcceso.Models.Horse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Horse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorseSaddleID" class="control-label"></label>
                <select asp-for="HorseSaddleID" class="form-control" asp-items="ViewBag.HorseSaddleID"></select>
                <span asp-validation-for="HorseSaddleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" class="form-control" name="img" />


                <input type="hidden" asp-for="Image" />
                <input type="hidden" asp-for="ImageContentType" />
                <input type="hidden" asp-for="ImageSourceFileName" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

