﻿@model IEnumerable<ControlAcceso.Models.Horse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>




<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="data: @item.ImageContentType;base64,
                     @Convert.ToBase64String(item.Image, 0, item.Image.Length)" />
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </div>

            </div>
        }

    </div>
</div>





