﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body style="background-image: url(https://www.ociocaballo.com/wp-content/uploads/2020/01/articulo_009.jpg); background-size: cover; background-size: 90%; background-repeat: no-repeat; background-position: center center; background-attachment: fixed;  ">

</body>

<!--Mostramos a través de la sesión la ID y el username-->

